/* thx github */
:not(pre) > code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: var(--gray-color);
  border-radius: 3px;
}

pre {
  padding: 0.2em 0.4em;
  background-color: var(--gray-color);
}

pre,
code {
  font-family: "WebTypo-Code";
  font-weight: 500;
}
