.example-big {
  margin: 1rem 0;

  padding-top: 0.1rem;
  padding-right: 1em;
  padding-bottom: 1rem;
  padding-left: 1em;

  border-left: 0.25em solid var(--green-color);
  background-color: var(--gray-color);
}

.example-big h4 {
  font-size: 1.2rem;

  color: var(--green-color);

  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.example-big h3 {
  font-size: 2.4rem;

  margin-top: 0.6em;
  margin-bottom: 0.1em;
  line-height: 1.2;
}

.example-big p em {
  font-size: 1rem;
}
.example-big pre {
  background-color: transparent;
  line-height: 1.2;
}
.example-big :not(pre) > code {
  font-size: 1rem;
  /* white-space: pre; */
  white-space: normal;

  background-color: transparent;
  position: relative;
  z-index: 9;

  padding: 0;
}

.example-big > p > code:first-child:before {
  content: "HTML:";
  letter-spacing: 0.04em;
  margin-right: 0.4em;
}
.example-big h3 span {
  color: #fff;
  background-color: var(--blue-color);
  padding-left: 0.05em;
  padding-right: 0.05em;
}
.example-big h3 span.mark--1 {
  color: var(--green-color);
}

.example-big h3 span.mark--none {
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
}

.example-big h3 span.mark--space {
  background-color: var(--blue-color);
  padding: 0;
}
.example-big h3 span.mark--space.mark--1 {
  background-color: var(--green-color);
}

.example-big code.mark {
  color: var(--blue-color);
  padding-left: 0.05em;
  padding-right: 0.05em;

  z-index: 99;
}

.example-big code.mark--1 {
  color: var(--green-color);
}

.example-big code.mark--none {
  color: black;
  padding-left: 0;
  padding-right: 0;
}
