/* open-sans-regular - latin_latin-ext */
@font-face {
  font-family: "webtypo-signalwerk";
  font-style: normal;
  font-weight: 400;
  src: url("./components/assets/fonts/open-sans-v17-latin_latin-ext/open-sans-v17-latin_latin-ext-regular.woff2")
      format("woff2"),
    url("./components/assets/fonts/open-sans-v17-latin_latin-ext/open-sans-v17-latin_latin-ext-regular.woff")
      format("woff");
}
/* open-sans-700 - latin_latin-ext */
@font-face {
  font-family: "webtypo-signalwerk";
  font-style: normal;
  font-weight: 700;
  src: url("./components/assets/fonts/open-sans-v17-latin_latin-ext/open-sans-v17-latin_latin-ext-700.woff2")
      format("woff2"),
    url("./components/assets/fonts/open-sans-v17-latin_latin-ext/open-sans-v17-latin_latin-ext-700.woff")
      format("woff");
}

@font-face {
  font-family: "webtypo-signalwerk-filler";
  font-style: normal;
  font-weight: 700;
  src: url("./components/assets/fonts/filler/FontFiller-Bold.otf")
    format("truetype");
  unicode-range: U+2007, U+202F;
}

@font-face {
  font-family: "webtypo-signalwerk-filler";
  font-style: normal;
  font-weight: 700;
  src: url("./components/assets/fonts/filler/FontFiller-Regular.otf")
    format("truetype");
  unicode-range: U+2007, U+202F;
}

/*
FIGURE_SPACE set from Glyph 'DIGIT ZERO' (U+0030)
NARROW_NO_BREAK_SPACE set from Glyph 'THIN SPACE' (U+2009)
 */
