table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: inherit;
}

th {
  text-align: left;
}

tr {
  border-bottom: 0.12rem solid var(--gray-color);
}

tr:hover {
  background-color: rgba(24, 24, 24, 0.1);
}

td,
th {
  vertical-align: top;
  padding-right: 1rem;
}

td:last-child,
th:last-child {
  padding-right: 0;
}

table {
  font-feature-settings: "lnum" 1, "tnum" 1;
}

@supports (font-variant-numeric: lining-nums) {
  table {
    font-feature-settings: normal;
    font-variant-numeric: lining-nums tabular-nums;
  }
}

@media print {
  tr {
    page-break-inside: avoid;
  }
}
