@import "signalwerk.documentation.md/root.css";
@import "signalwerk.documentation.md/webpack/md-to-html-plugin/plugin/example.css";

@import "main.css";

/* box */
.box {
  background-color: var(--gray-color);
  border-top: 0.1em solid var(--blue-color);

  margin-top: 2rem;
  margin-bottom: 2rem;

  padding-bottom: 0.1rem;
}

.box p,
.box h3,
.box h4,
.box ul {
  padding-left: 1rem;
  padding-right: 1rem;
}

.box ul {
  padding-left: 2rem;
}

.box h3 {
  border-bottom: 0.1em solid white;
  padding-bottom: 0.5em;
}

/* blockquote */

blockquote {
  font-size: 1.6rem;
  margin: 1rem 0;
  padding: 0 1em;
  border-left: 0.25em solid var(--blue-color);
  font-weight: 400;
  color: black;
 
  > p {
    font-size: inherit;

    code {
      font-size: 1rem;
    }
  }
}
