
body {
  margin: 0;
}
img {
  width: 100%;
}
figure {
  margin: 1em 0 1em 0;
}
.content {
  width: 92%;
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto;



  /* background-color: red; */
}
header,
.col-content,
.col-second {
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.navigation {
  background: #d3d3d3;
}
@media (min-width: 1000px) {
  .col-content {

    max-width: 70%;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .col-second {
    max-width: 27%;
    -ms-flex-preferred-size: 27%;
        flex-basis: 27%;
    background-color: yellow;
    height: 20rem;
  }
  }